<!-- Christopher Ray
#Professor Arp
#mgti40660
#28 September 2015

#run.rb -->

<h1>State List</h1>

<p>here is a list of states...</p>

<ul>
	<% @states.each do |state| %>
	<li><%= state%></li>
	<% end%>
</ul>

<!-- iterate through each state in the array and put them into list items individually -->

